- form_for [:admin, @government] do |f|
  - if @government.errors.any?
    #error_explanation
      %h2= "#{pluralize(@government.errors.count, "error")} prohibited this government from being saved:"
      %ul
        - @government.errors.full_messages.each do |msg|
          %li= msg

  %table{:style => "width: 50%;"}
    %tr
      %td{:colspan => 2} 
        %h3 Common
    %tr
      %td= f.label :logo
      %td= f.text_field :logo
    %tr
      %td= f.label :government_type
      %td= f.collection_select :government_type_id, GovernmentType.all, :id, :name, :include_blank => true
    %tr
      %td= f.label :website
      %td= f.text_field :website
    %tr
      %td= f.label :wikipedia
      %td= f.text_field :wikipedia
    %tr
      %td= f.label :keywords
      %td= f.text_field :keywords
    %tr
      %td= f.label :data1
      %td= f.text_field :data1
    %tr
      %td= f.label :data2
      %td= f.text_field :data2
    %tr
      %td{:colspan => 2}
        %h3 Agency
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td{:colspan => 2} 
        %h3 Legislative / Executive
    %tr
      %td= f.label :first_name
      %td= f.text_field :first_name
    %tr
      %td= f.label :middle_name
      %td= f.text_field :middle_name
    %tr
      %td= f.label :last_name
      %td= f.text_field :last_name
    %tr
      %td= f.label :state
      %td= f.collection_select :state_id, State.find(:all, :order => :name), :id, :name, :include_blank => true
    %tr
      %td= f.label :chamber
      %td= f.collection_select :chamber_id, Chamber.all, :id, :name, :include_blank => true
    %tr
      %td= f.label :district
      %td= f.text_field :district
    %tr
      %td= f.label :title
      %td= f.text_field :title
    %tr
      %td= f.label :office
      %td= f.text_field :office
    %tr
      %td= f.label :default_order
      %td= f.text_field :default_order

  .actions
    = f.submit
