%h1 Listing governments

%table.admin.admin-government
  %colgroup{:span => 1}
  %colgroup{:span => 1, :style => "background-color: #eee;"}
  %colgroup{:span => 7}
  %colgroup{:span => 6, :style => "background-color: #eee;"}
  %tr
    %th{:colspan => 1} Edit
    %th{:colspan => 1} Agency
    %th{:colspan => 7} Legislative / Executive
    %th{:colspan => 6} Common
  %tr
    %th

    %th Name

    %th Name
    %th State
    %th Chamber
    %th District
    %th Title
    %th Office
    %th Order

    %th Logo
    %th Type
    %th Website
    %th Wikipedia
    %th Data 1
    %th Data 2
  

  - @governments.each do |government|
    %tr
      %td
        %b
          = link_to 'Edit', edit_admin_government_path(government)
        %br
        = link_to 'Delete', admin_government_path(government), :confirm => 'Are you sure?', :method => :delete

      %td= highlight_or_value government.name

      %td= highlight_or_value "#{government.first_name} #{government.last_name}"
      %td= government.state.blank? ? highlight_missing_cell : government.state.abbreviation
      %td= government.chamber.blank? ? highlight_missing_cell : government.chamber.name
      %td= highlight_or_value government.district
      %td= highlight_existence government.title
      %td= highlight_existence government.office
      %td= highlight_or_value government.default_order

      %td= government.logo.blank? ? highlight_missing_cell : "<img src='#{get_government_image_64(government.logo, government.government_type_id, government.chamber_id)}' />".html_safe
      %td= government.government_type.blank? ? highlight_missing_cell : government.government_type.name
      %td= highlight_or_link government.website
      %td= highlight_or_link government.wikipedia
      %td= highlight_existence government.data1
      %td= highlight_existence government.data2


  %br

  = link_to 'New Corporation', new_admin_government_path
