<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>Name</td>
		<td><%= @government.name %></td>
	</tr>
	<tr>
		<td>Logo</td>
		<td><%= @government.logo %></td>
	</tr>

	<tr>
		<td>SS</td>
		<td><%= @government.social_score %></td>
	</tr>
	
	<tr>
		<td>PR</td>
		<td><%= @government.participation_rate %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_admin_government_path(@government) %> |
<%= link_to 'Back', admin_governments_path %>
