%p#notice= notice

%img{:src => get_government_image_64(@government.logo, @government.government_type_id, @government.chamber_id)}
%h3
  - if @government.government_type.blank?
    = ''
  - elsif @government.government_type_id == 1
    = @government.name
  - else
    = "#{@government.first_name} #{@government.last_name}"
= link_to "Website", @government.website, :target => '_blank'
= " | "
= link_to "Wikipedia", @government.wikipedia, :target => '_blank'

%br
%br

%table{:style => "width: 50%;"}
  %tr
    %td State:
    %td= @government.state.blank? ? '' : @government.state.name
  %tr
    %td Chamber:
    %td= @government.chamber.blank? ? '' : @government.chamber.name
  %tr
    %td District:
    %td= @government.district
  %tr
    %td Title:
    %td= highlight_existence @government.title
  %tr
    %td Office:
    %td= highlight_existence @government.office
  %tr
    %td Order:
    %td= highlight_or_value @government.default_order
  %tr
    %td Data 1:
    %td= @government.data1
  %tr
    %td Data 2:
    %td= @government.data2
  %tr
    %td Keywords:
    %td= @government.keywords
  %tr
    %td Generated Indexes:
    %td= @government.generated_indexes

= link_to 'Edit', edit_admin_government_path(@government)
= "|"
= link_to 'Back', admin_governments_path
