- form_for [:admin, @corporation] do |f|
  - if @corporation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@corporation.errors.count, "error")} prohibited this corporation from being saved:"

      %ul
        - @corporation.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :logo
      %td= f.text_field :logo
    %tr
      %td= f.label :corporate_url
      %td= f.text_field :corporate_url, :style=>'width: 400px;'
    %tr
      %td= f.label :wikipedia_url
      %td= f.text_field :wikipedia_url, :style=>'width: 400px;'
    %tr
      %td= f.label :revenue
      %td= f.text_field :revenue
    %tr
      %td= f.label :revenue_text
      %td= f.text_field :revenue_text
    %tr
      %td= f.label :profit
      %td= f.text_field :profit
    %tr
      %td= f.label :profit_text
      %td= f.text_field :profit_text
    %tr
      %td= f.label :keywords
      %td= f.text_field :keywords

  .actions
    = f.submit
