%p#notice= notice

%img{:src => get_corporate_image_128(@corporation.logo)}
%h2
  = @corporation.name

= link_to "Website", @corporation.corporate_url, :target => '_blank'
= " | "
= link_to "Wikipedia", @corporation.wikipedia_url, :target => '_blank'

%br
%br

%table{:style => "width: 50%;"}
  %tr
    %td Revenue
    %td= @corporation.revenue
  %tr
    %td Revenue Text
    %td= @corporation.revenue_text
  %tr
    %td Profit
    %td= @corporation.profit
  %tr
    %td Profit Text
    %td= @corporation.profit_text
  %tr
    %td Keywords
    %td= @corporation.keywords
  %tr
    %td Generated Indexes
    %td= @corporation.generated_indexes
	

= link_to 'Edit', edit_admin_corporation_path(@corporation)
= "|"
= link_to 'Back', admin_corporations_path
