#stylized-form.span-24.last
  %h1 Log In
  = form_tag login_path, :class => "bp" do
    .messages.flash-message= flash[:login_message]
    .clear

    .input.span-11
      = label_tag :username, "Username:"
      %br
      = text_field_tag :username, @presenter.username, :class => "span-4"
      .small
    .messages.column.last
      #username_messages
    .clear

    .input.span-11
      = label_tag :password, "Password:"
      %br
      = password_field_tag :password, "", :class => "span-4"
      .small
    .messages.column.last
      #password_messages
    .clear

    .input.span-11
      = submit_tag "Login"
    .messages.column.last
      #submit_messages
    .clear

