.span-12.last
  Maps/Graphs
.span-12
  %table
    %caption
      Media Type
      = link_to "(reset)", :type => nil, :network => nil
    %thead
      %tr
        %th Logo
        %th Name
        %th SS
        %th PR
    %tbody
    - @presenter.media_types.each do |media_type|
      %tr
        %td= ''
        %td= link_to media_type.name, :type => media_type.name
        %td -
        %td -

  - if @presenter.second_level.count > 0
    %table
      %thead
        %tr
          -if @presenter.second_level_vote
            %th
          %th Logo
          %th Name
          %th SS
          %th PR
      %tbody
      - @presenter.second_level.each do |second|
        %tr
          -if @presenter.second_level_vote
            %td= render :partial => 'shared/vote_control', :object =>{:id => second.id, :support_type => second.support_type, :post_url => :media_vote}, :as => :d
          %td
            %img{:src => get_media_image_128(second.logo), :alt => 'logo'}
          %td= link_to second.name, :type => @presenter.media_types[0].name, :network => second.name
          %td= second.social_score 
          %td= second.participation_rate

  - if @presenter.third_level.count > 0
    %table
      %thead
        %tr
          %th Vote
          %th Logo
          %th Name
          %th SS
          %th PR
      %tbody
      - @presenter.third_level.each do |third|
        %tr
          %td= render :partial => 'shared/vote_control', :object =>{:id => third.id, :support_type => third.support_type, :post_url => :media_vote}, :as => :d
          %td
            %img{:src => get_media_image_128(third.logo)}
          %td= third.name
          %td= third.social_score
          %td= third.participation_rate 

