- content_for :scripts do
  =	javascript_include_tag "signup.js"
  = javascript_include_tag "jquery.password_strength.js"

= form_for :user, @new_user, :html => {:class => 'account'}, :url => (['new', 'create'].include?(action_name) ? :create_account : :update_account) do |f|
  .input
    = f.label :login, "Select a username:"
    = f.text_field :login
    .validation-indicator#user_login_indicator
    .small Select a unique username.
    .messages
      %span#user_login_messages= @new_user.errors[:login].first
  .clear

  .input
    = f.label :password, "Create a password:"
    = f.password_field :password
    .validation-indicator#user_password_indicator
    .small Pick a strong password with letters and numbers.
    .messages
      %span#user_password_messages= @new_user.errors[:password].first
  .clear
  
  .input
    = f.label :password_confirmation, "Retype your password:"
    = f.password_field :password_confirmation
    .validation-indicator#user_password_confirmation_indicator
    .small Password must be at least 6 characters.
    .messages
      %span#user_password_confirmation_messages
  .clear

  .input
    = f.label :country_id, "Country:"
    = f.select :country_id, Country.all.collect {|c| [c.name, c.id]}
    .validation-indicator#user_country_id_indicator
    .small= "&nbsp;".html_safe
    .messages
      %span#user_country_id_messages= @new_user.errors[:country_id].first
  .clear
  
  .input
    = f.label :zip_code, "Enter your zip code:"
    = f.text_field :zip_code
    .validation-indicator#user_zip_code_indicator
    .small= "Five digit zip code."
    .messages
      %span#user_zip_code_messages= @new_user.errors[:zip_code].first
  .clear


  .input
    = f.label :birth_year, "Year you were born:"
    = f.select :birth_year, options_for_select((100.years.ago.year .. 13.years.ago.year).to_a.reverse, @new_user.birth_year)
    .validation-indicator#user_birth_year_indicator
    .small= "You must be at least 13 years old."
    .messages
      %span#user_birth_year_messages= @new_user.errors[:birth_year].first
  .clear

  .input
    = f.label :email, "Enter your email:"
    = f.text_field :email
    .validation-indicator#user_email_indicator
    .small You will recieve an email to verify your account.
    .messages
      %span#user_email_messages= @new_user.errors[:email].first
  .clear

  .input
    = f.label :agreed, "I have read and agree to the <a href='/members' target='_blank'>Membership Agreement</a>:".html_safe
    = f.check_box :agreed
    .validation-indicator#user_agreed_indicator
    .messages
      %span#user_agreed_messages= @new_user.errors[:agreed].first
  .clear

  .input.create
    = f.submit "#{['new', 'create'].include?(action_name) ? 'Create' : 'Update'} Account"
  .clear
