= form_tag :login do
  - if ! flash[:notice].blank?
    .flash= flash[:notice]
  %div{:style => "text-align: center; padding: 10px 10px 20px 0px; height: 20px; border: solid 0px blue; color: #666;"}
    = label_tag :login, "Username:"
    = text_field_tag :login, @user_session.login
  %div{:style => "text-align: center; padding: 10px 10px 20px 0px; height: 20px; border: solid 0px blue; color: #666;"}
    = label_tag :password, "Password:"
    = password_field_tag :password
  %div{:style => "text-align: right; padding: 10px 10px 20px 0px; height: 20px; border: solid 0px blue;"}
    = submit_tag "Login"
%div{:style => "clear: both;"}
  %div{:style => "text-align: right; padding: 10px 10px 10px 0px; border: solid 0px blue;"}
    = link_to "Reset Password", :reset_passwords
    %br
    = link_to "Forgot Username", :request_username
    %br
    = link_to "Resend Account Verification", :verify
