- content_for :scripts do
  = javascript_include_tag "change_support.js"

= render :partial => "shared/government_menu"
.left-content
  %fieldset
    %legend Search:
    = form_tag :agency do
      =text_field_tag :search_filter, @presenter.search_text
      =submit_tag 'Search'
  %fieldset
    %legend Filtering:
    =link_to 'Thumbs Up', :filter => 'vote=thumbsup', :sort => params[:sort], :page => 1
    |
    =link_to 'Thumbs Down', :filter => 'vote=thumbsdown', :sort => params[:sort], :page => 1
    |
    =link_to 'Neutral', :filter => 'vote=neutral', :sort => params[:sort], :page => 1
    |
    =link_to 'Voted', :filter => 'vote=vote', :sort => params[:sort], :page => 1
    |
    =link_to 'No Vote', :filter => 'vote=novote', :sort => params[:sort], :page => 1
    ||
    =link_to 'All Records', :filter => 'vote=all', :sort => params[:sort], :page => 1

  = render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data
  %table
    %thead
      %tr
        %th= table_sort_header_link :header => "Vote", :sort_column => 'votedate', :link_params => { :filter => params[:filter], :page => params[:page] }
        %th= table_sort_header_link :header => "Name", :sort_column => 'name', :link_params => { :filter => params[:filter], :page => params[:page] }
        %th
          = table_sort_header_link :header => "SS", :sort_column => 'social', :link_params => { :filter => params[:filter], :page => params[:page] }
          = '/'
          = table_sort_header_link :header => "PR", :sort_column => 'participation', :link_params => { :filter => params[:filter], :page => params[:page] }
    %tbody
    - @presenter.agencies.each do |agency|
      %tr
        %td= render :partial => "shared/vote_control", :object =>{:id => agency.id, :support_type => agency.support_type, :post_url => :government_vote}, :as => :d
        %td
          %a{:class => 'jq-government dataset', :href=> "#{agency.id}_government"}
            %input{:type => :hidden, :class => 'jq-media-id', :value =>  agency.id}
            %img{:src => get_government_image_64(agency.logo, 1), :alt => 'logo'}
            %br
            = agency.name
        %td
          = agency.social_score
          %img{:src => participation_rate_image(agency.participation_rate), :alt => agency.participation_rate}
.graph-contents
  = render :partial => "shared/map_graph", :locals => {:id => nil, :model => "government"}
