- content_for :scripts do
  = javascript_include_tag "change_support.js"

.left-content
  = render :partial => "shared/government_menu"
  %div.vote-table-top-cap
  %div.vote-table-wrap
    %table.vote-table.executive
      %thead
        %tr
          %th= "Vote"
          %th= table_sort_header_link :header => "Name", :sort_column => 'name', :link_params => { :filter => params[:filter], :page => params[:page] }
          %th.limit 
            = table_sort_header_link :header => "Title", :sort_column => 'default', :link_params => { :filter => params[:filter], :page => params[:page] }
          %th
            = table_sort_header_link :header => "SS", :sort_column => 'social', :link_params => { :filter => params[:filter], :page => params[:page] }
            = '/'
            = table_sort_header_link :header => "PR", :sort_column => 'participation', :link_params => { :filter => params[:filter], :page => params[:page] }
        %tbody
        - @presenter.executives.each do |executive|
          %tr{:class => (executive.id == @default_map[:id] ? 'selected' : '')}
            %td
              - if @current_user.nil?
                = render :partial => 'shared/vote_control_no_access'
              - else
                = render :partial => 'shared/vote_control', :object =>{:id => executive.id, :support_type => executive.support_type, :post_url => :government_vote}, :as => :d
            %td
              %a{:href => url_for(:sort => params[:sort], :id => executive.id), :class => 'dataset' }
                %input{:type => :hidden, :class => 'jq-map-data', :value =>  "#{executive.id}_government"}
                %input{:type => :hidden, :class => 'jq-title', :value => "#{executive.first_name} #{executive.last_name}" }
                %input{:type => :hidden, :class => 'jq-wikipedia', :value => executive.wikipedia }
                %input{:type => :hidden, :class => 'jq-website', :value => executive.website }
                %img{:src => get_government_image_64(executive.logo, executive.government_type_id), :alt => 'logo'}
                %br
                = "#{executive.first_name} #{executive.last_name}"
            %td= executive.title
            %td
              %div{ :class=> "pr-pie", :style => "background: url(#{participation_rate_image(executive.participation_rate)})", :alt => executive.participation_rate}
                = executive.social_score
  %div.vote-table-cap
.graph-contents
  = render :partial => "shared/map_graph", :locals => {:id => @default_map[:id], :model => "government", :title => @default_map[:title], :website => @default_map[:website], :wikipedia => @default_map[:wikipedia]}
