= render :partial => "shared/government_menu"
.span-12.last
  Maps/Graphs
.span-12
  %table
    %thead
      %tr
        %th Vote
        %th Picture
        %th Name
        %th Title
        %th SS
        %th PR
      %tbody
      - @presenter.executives.each do |executive|
        %tr
          %td= render :partial => 'shared/vote_control', :object =>{:id => executive.id, :support_type => executive.support_type, :post_url => :government_vote}, :as => :d
          %td
            %img{:src => get_government_image_64(executive.logo, 2, nil), :alt => 'logo'}
          %td= "#{executive.first_name} #{executive.last_name}"
          %td= executive.title
          %td= executive.social_score
          %td= executive.participation_rate
