= render :partial => "shared/government_menu"
.span-12.last
  Maps/Graphs
.span-12
  %table
    %caption Senate
    %thead
      %tr
        %th Vote
        %th Picture
        %th Name
        %th Title
        %th SS
        %th PR
      - @presenter.senators.each do |senator|
        %tr
          %td= render :partial => 'shared/vote_control', :object =>{:id => senator.id, :support_type => senator.support_type, :post_url => :government_vote}, :as => :d
          %td
            %img{:src => get_government_image_64(senator.logo, senator.government_type_id, senator.chamber_id) , :alt => 'portrait'}
          %td= senator.first_name + " " + senator.last_name
          %td= senator.title
          %td= senator.social_score
          %td= senator.participation_rate


  %table
    %caption House of Representatives
    %thead
      %tr
        %th Vote
        %th Picture
        %th Name
        %th Title
        %th District
        %th SS
        %th PR
      - @presenter.representatives.each do |rep|
        %tr
          %td= render :partial => 'shared/vote_control', :object =>{:id => rep.id, :support_type => rep.support_type, :post_url => :government_vote}, :as => :d
          %td
            %img{:src => get_government_image_64(rep.logo, rep.government_type_id, rep.chamber_id) , :alt => 'portrait'}
          %td= rep.first_name + " " + rep.last_name
          %td= rep.district
          %td= rep.social_score
          %td= rep.participation_rate
