- content_for :scripts do
  = javascript_include_tag "change_support.js"

= "<div>#{flash[:notice]}</div>".html_safe unless flash[:notice].blank?

.mv-content 
  %div.singlet.myvoyce
    %div.singlet-left
      %div.singlet-table-wrap
        %table.singlet-table
          %tbody
            %tr
              - if @show_current_product
                - if @product_found
                  %td
                    = render :partial => 'shared/vote_control', :object => {:id => @current_product_id, :support_type => @current_product_support, :post_url => :product_vote}, :as => :d
                  %td
                    %img{:src => get_product_image_128(@current_product_image), :alt => @current_product_description }
                  %td
                    %div{ :class=> "pr-pie", :style => "background: url(#{participation_rate_image(@current_product_pr)})", :alt => @current_product_pr}
                      = @current_product_ss
                  %td.description
                    = @current_product_description
                -else
                  %td= 'Product could not be found.'
              - else
                %td= 'Enter a product to lookup.'
              %td
                %div.mvform
                  %h5 Enter a code:
                  = form_tag request.fullpath do
                    = text_field_tag :barcode_lookup, params[:barcode]
                    %input{:type => 'submit', :name => 'lookup_submit', :value => 'Lookup'}
          
    %div.singlet-right

  = render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data

  %div.filtering.myvoyce
    =link_to 'All', {:filter => 'vote=all', :sort => params[:sort], :page => 1, :barcode => params[:barcode]}, :class=> "sort-button #{ filter_is_selected('vote=all', params) }"
    =link_to 'Thumbs Up', {:filter => 'vote=thumbsup', :sort => params[:sort], :page => 1, :barcode => params[:barcode]}, :class=> "sort-button #{ filter_is_selected('vote=thumbsup', params) }"
    =link_to 'Thumbs Down', {:filter => 'vote=thumbsdown', :sort => params[:sort], :page => 1, :barcode => params[:barcode]}, :class=> "sort-button #{ filter_is_selected('vote=thumbsdown', params) }"
    =link_to 'Neutral', {:filter => 'vote=neutral', :sort => params[:sort], :page => 1, :barcode => params[:barcode]}, :class=> "sort-button #{ filter_is_selected('vote=neutral', params) }"
    =link_to 'Voted', {:filter => 'vote=voted', :sort => params[:sort], :page => 1, :barcode => params[:barcode]}, :class=> "sort-button #{ filter_is_selected('vote=voted', params) }"
    =link_to 'No Vote', {:filter => 'vote=novote', :sort => params[:sort], :page => 1, :barcode => params[:barcode]}, :class=> "sort-button #{ filter_is_selected('vote=novote', params) }"

  %div.vote-table-wrap.myvoyce
    %table.vote-table.myvoyce
      %thead
        %tr
          %th Vote
          %th Photo
          %th= table_sort_header_link :header => "Description", :sort_column => 'description', :link_params => { :filter => params[:filter], :page => params[:page] , :barcode => params[:barcode]}
          %th= table_sort_header_link :header => "Date", :sort_column => 'votedate', :link_params => { :filter => params[:filter], :page => params[:page], :barcode => params[:barcode] }
          %th
            = table_sort_header_link :header => "SS", :sort_column => 'social', :link_params => { :filter => params[:filter], :page => params[:page], :barcode => params[:barcode] }
            = '/'
            = table_sort_header_link :header => "PR", :sort_column => 'participation', :link_params => { :filter => params[:filter], :page => params[:page] , :barcode => params[:barcode]}
      %tbody
        - @presenter.products.each do |product|
          %tr
            %td= render :partial => 'shared/vote_control', :object => {:id => product.id, :support_type => product.support_type, :post_url => :product_vote}, :as => :d
            %td
              %img{:src => get_product_image_128(product.logo), :alt => product.description}
            %td= product.pending ? (product.pending_product_description.blank? ? "Pending" : product.pending_product_description) : product.description
            %td= product.votedate.to_date.strftime("%m/%d/%y") rescue ''
            %td
              %div{ :class=> "pr-pie", :style => "background: url(#{participation_rate_image(product.participation_rate)})", :alt => product.participation_rate}
                = product.social_score
  %div.vote-table-cap.myvoyce
  = render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data

- cache("user_stats_#{@user.id}", :expires_in => Rails.configuration.default_cache_expires_in) do
  .user-stats
    %p
      %span.username
        = "#{@stats[:username]}"
      %br
      = "Member since: #{@stats[:member_since]}"
      
    %h3
      Stats:

    %table.stats
      %thead
        %th.label
        %th.number
      %tbody
        %tr
          %td
            Total:
          %td.stat  
            = "#{@stats[:total_scans]}"
        %tr
          %td
            This year: 
          %td.stat
            = "#{@stats[:this_year_scans]}"
        %tr
          %td
            This month: 
          %td.stat
            = "#{@stats[:this_month_scans]}"
        %tr
          %td
            This week: 
          %td.stat
            = "#{@stats[:this_week_scans]}"
        %tr
          %td
            Today: 
          %td.stat
            = "#{@stats[:today_scans]}"
