%h1 Resend verification email
%p Enter your email address and a new verification email will be sent.

- if ! flash[:notice].blank?
  .flash= flash[:notice].html_safe

= form_tag '/verify' do
  %p
    = label_tag :email
    = text_field_tag :email
  %p
    = submit_tag "Send Email"

