<div id="header">
  <div id="header-content">
    
    <div class="counter-area">
      <p>SEED MONEY RAISED</p>
      <div class="counter"><p>$1,000</p></div>
    </div>
    
    <% cache("header_user_count", :expires_in => 10) do %>
      <div class="counter-area">
        <p>OURVOYCE USERS</p>
        <div class="counter"><p><%= number_with_delimiter(user_count) %></p></div>
      </div>
    <% end %>
    
    <div id="header-nav">
      <ul>
        <% if current_user_session.nil? %>
          <li><%= link_to "SIGN IN",  :register %></li>
          <li><%= link_to "CREATE ACCOUNT", :register %></li>
        <% else %>
          <li><%= current_user.login %></li>
          <li><%= link_to "UPDATE ACCOUNT", :edit_account %></li>
          <li><%= link_to "LOGOUT",  :logout %></li>
        <% end %>
        <li><a href="/help">HELP</a></li>
      </ul>
    </div>
    
    <div id="donate">
      <a href="/donate"><img src="/images/donate.png" alt="donate" /></a>
    </div>
  </div>
</div>
