%div.media-navigation.section-nav
  = link_to "television", {:media_type => "Television"}, :class=> "link-box #{ params[:media_type] == "Television" ? "selected" : "" }"
  = link_to "newspaper", {:media_type => "Newspaper"}, :class=> "link-box #{ params[:media_type] == "Newspaper" ? "selected" : "" }"
  = link_to "magazine", {:media_type => "Magazine"}, :class=> "link-box #{ params[:media_type] == "Magazine" ? "selected" : "" }"
  = link_to "radio", {:media_type => "Radio"}, :class=> "link-box #{ params[:media_type] == "Radio" ? "selected" : "" }"
  %div.clear