- total_pages = paging_data.links.length
- current_page = paging_data.current_page
- links_to_show = [total_pages - 1, 7].min
- start_index = [0, current_page - 1 - (links_to_show / 2)].max
- last_index = [total_pages - 1, start_index + links_to_show - 1].min

//Display quick link to page 1
- if start_index > 0
  %a{:href => paging_data.links[0][:link_url]}= "<<"
  = "&nbsp;".html_safe

- (start_index..last_index).each do |i|
  - link = paging_data.links[i]
  - if paging_data.current_page.to_i == link[:page].to_i
    %b= link[:page]
  - else
    %a{:href => link[:link_url]}=link[:page]

//Display quick link to last page
- if last_index < total_pages - 1
  = "&nbsp;".html_safe
  %a{:href => paging_data.links[total_pages - 1][:link_url]}= ">>"
