- content_for :scripts do
  = javascript_include_tag "change_support.js"

.left-content
  %div.page-title
    = form_tag :corporates_index do
      %h4
        Search Corporate:
      =text_field_tag :search_filter, @presenter.search_text
      =image_submit_tag("search-button.gif")
    %div.clear
  = render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data
  
  %div.filtering
    =link_to 'All Records', {:filter => 'vote=all', :sort => params[:sort], :page => 1}, :class=> "sort-button #{ filter_is_selected('vote=all', params) }"
    =link_to 'Thumbs Up', {:filter => 'vote=thumbsup', :sort => params[:sort], :page => 1}, :class=> "sort-button #{ filter_is_selected('vote=thumbsup', params) }"
    =link_to 'Thumbs Down', {:filter => 'vote=thumbsdown', :sort => params[:sort], :page => 1}, :class=> "sort-button #{ filter_is_selected('vote=thumbsdown', params) }"
    =link_to 'Neutral', {:filter => 'vote=neutral', :sort => params[:sort], :page => 1}, :class=> "sort-button #{ filter_is_selected('vote=neutral', params) }"
    =link_to 'Voted', {:filter => 'vote=vote', :sort => params[:sort], :page => 1}, :class=> "sort-button #{ filter_is_selected('vote=vote', params) }"
    =link_to 'No Vote', {:filter => 'vote=novote', :sort => params[:sort], :page => 1}, :class=> "sort-button #{ filter_is_selected('vote=novote', params) }"

  %div.vote-table-wrap
    %table.vote-table.corporate
      %thead
        %tr
          %th= "Vote"
          %th= table_sort_header_link :header => "Name", :sort_column => 'name', :link_params => {:filter => params[:filter], :page => params[:page] }
          %th= table_sort_header_link :header => "Revenue", :sort_column => 'revenue', :link_params => {:filter => params[:filter], :page => params[:page] }
          %th= table_sort_header_link :header => "Profit", :sort_column => 'profit', :link_params => {:filter => params[:filter], :page => params[:page] }
          %th
            = table_sort_header_link :header => "SS", :sort_column => 'social', :link_params => {:filter => params[:filter], :page => params[:page] }
            = '/'
            = table_sort_header_link :header => "PR", :sort_column => 'participation', :link_params => {:filter => params[:filter], :page => params[:page] }
      %tbody
        - count = 0
        - @presenter.corporations.each do |c|
          - count = count + 1
          %tr{:class => "#{c.id == @default_map[:id] ? 'selected' : ''} #{count%2 == 1 ? 'even' : 'odd'}", :valign => "middle"}
            %td
              - if @current_user.nil?
                = render :partial => "shared/vote_control_no_access"
              -else
                = render :partial => "shared/vote_control", :object =>{:id => c.id, :support_type => c.support_type, :post_url => :corporate_vote}, :as => :d
                = c.updated_at
            %td
              %a{:href => url_for(:filter => params[:filter], :sort => params[:sort], :page => params[:page], :id => c.id), :class => 'dataset' }
                %input{:type => :hidden, :class => 'jq-map-data', :value =>  "#{c.id}_corporate"}
                %input{:type => :hidden, :class => 'jq-title', :value => c.name }
                %input{:type => :hidden, :class => 'jq-wikipedia', :value => c.wikipedia_url }
                %input{:type => :hidden, :class => 'jq-website', :value => c.corporate_url }
                %img{:src => get_corporate_image_128(c.logo), :alt => c.name}
                %br
                = c.name
            %td= "$#{number_to_human(c.revenue, :precision => 1, :significant => false )}"
            %td= "$#{number_to_human(c.profit, :precision => 1, :significant => false )}"
            %td
              %div{ :class=> "pr-pie", :style => "background: url(#{participation_rate_image(c.participation_rate)})", :alt => c.participation_rate}
                = c.social_score
  %div.vote-table-cap
  = render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data
= render :partial => "shared/map_graph", :locals => { :id => @default_map[:id], :model => "corporate", :title => @default_map[:title], :wikipedia => @default_map[:wikipedia], :website => @default_map[:website]}
