- content_for :scripts do
  = javascript_include_tag "change_support.js"

.span-12
  %fieldset
    %legend Sorting:
    %a{:href => "/corporate?sort=name_asc"}Name Asc
    |
    %a{:href => "/corporate?sort=name_desc"}Name Desc
    %br
    %a{:href => "/corporate?sort=social_asc"}Social Score Asc
    |
    %a{:href => "/corporate?sort=social_desc"}Social Score Desc
    %br
    %a{:href => "/corporate?sort=participation_asc"}Participation Rate Asc
    |
    %a{:href => "/corporate?sort=participation_desc"}Participation Rate Desc
    %br
    %a{:href => "/corporate?sort=votedate_asc"}Vote Date Asc
    |
    %a{:href => "/corporate?sort=votedate_desc"}Vote Date Desc

  %fieldset
    %legend Filtering:
    %a{:href => "/corporate?filter=thumbsup"}Thumbs Up
    |
    %a{:href => "/corporate?filter=thumbsdown"}Thumbs Down
    |
    %a{:href => "/corporate?filter=neutral"}Neutral
    |
    %a{:href => "/corporate?filter=voted"}Voted
    |
    %a{:href => "/corporate?filter=novote"}No Vote
    |
    %a{:href => "/corporate?"}All Records

  = render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data

  %table
    %thead
      %tr
        %th Vote
        %th Name
        %th Logo
        %th Profit
        %th Revenue
        %th SS
        %th PR
    %tbody
    - @presenter.corporations.each do |c|
      %tr
        %td
          =  render :partial => "shared/vote_control", :object =>{:id => c.id, :support_type => c.support_type, :post_url => :corporate_vote}, :as => :d
          = c.updated_at
        %td= c.name
        %td
          %img{:src => get_corporate_image_128(c.logo), :alt => c.name}
        %td= "$#{number_to_human(c.revenue, :precision => 1, :significant => false)}"
        %td= "$#{number_to_human(c.profit, :precision => 1, :significant => false)}"
        %td= c.social_score
        %td= c.participation_rate
.span-12.last
  Maps/Graphs