!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title OurVoyce
    = csrf_meta_tag
  %body
    %div{:style => 'text-align: center;'}
      %img{:src => '/images/ourvoYce_big.png'}
      = render :partial => 'shared/account/login'
      = link_to 'Reset Password', reset_passwords_path
      %br
      %a{:href => '/donate'}
        %img{:src => '/images/donate.png', :alt => 'Donate'}

      %div{:style => "border: solid 0px black; margin-right: auto; margin-left: auto; margin-top: 50px; text-align: center; padding-left: 60px"}
      %table{:border => "0", :style => "margin: auto;"}
        %tr
          %td{:style => "width: 185px; text-align: left"}
            %a{:href => "http://www.twitter.com/ourvoYce"}
              %img{:src => "http://twitter-badges.s3.amazonaws.com/follow_us-b.png", :alt => "Follow ourvoYce on Twitter"}
          %td{ :style => "width: 140px; text-align: center"}
            %a{ :href => "http://wikimediafoundation.org/wiki/Support_Wikipedia/en"}
              %img{:border => "0", :alt => "Support Wikipedia", :src => "http://upload.wikimedia.org/wikipedia/commons/2/26/Fundraising_2009-square-thanks-en.png"}
          %td{ :style => "text-align: right"}
            = '<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>'.html_safe
            = '<fb:like-box href="http://www.facebook.com/pages/ourvoYce/106886149350027" width="240" connections="0" stream="false" header="false"></fb:like-box>'.html_safe

