- content_for :scripts do
  = javascript_include_tag "change_support.js"

#content-left
  %h2
    Who’s Being Counted?
  #bar-graph-wrap
    #bar-graph
  #home-table-wrap
    %div.home-vote-table-top-cap
    %div.vote-table-wrap.home-page
      %table.vote-table.home-page
        %thead
          %tr
            %th State
            %th # of Users
            %th % of Population
        %tbody
          - @states.each do |state|
            %tr{:class => state.abbreviation.downcase }
              %td= state.name
              %td= state.user_count
              %td= number_with_precision(100 * state.user_count.to_f / state.population, :precision => 2).to_s + '%'
    %div.home-vote-table-cap
  

#content-right
  #home-map-wrap
    #home-map
  #home-copy
    .home-headline
      %img{:src => "images/wheredoyoustand.png", :alt =>"where do you stand?"}
      %p= @current_question.question_text
      %h2 Vote Now. Be counted.
  #home-vote
    - if @current_user.nil?
      = render :partial => 'shared/vote_control_no_access'
    - else
      = render :partial => 'shared/vote_control', :object => {:id => @current_question.id, :support_type => @current_question_support, :post_url => :current_question_vote}, :as => :d

= render :partial => "shared/ourvoyce_javascript", :locals => {:id => nil, :model => "ourvoyce", :title => '', :website => '', :wikipedia => ''}
