%h2 OurVoyce

.span-12
  Ages:
  -(1..100).each do |age|
    = "{"
    = "#{age}, "
    = @national_ages.nil? ? 'nil' : @national_ages["age_#{age}"]
    = "}, "

  %table
    %thead
      %tr
        %th State
        %th # of Users
        %th % of Population
    %tbody
      - @states.each do |state|
        %tr
          %td= state.name
          %td= state.user_count
          %td= "tbd"

.span-12.last
  Maps/Graphs
