- form_for [:admin, @media] do |f|
  - if @media.errors.any?
    #error_explanation
      %h2= "#{pluralize(@media.errors.count, "error")} prohibited this media from being saved:"
      %ul
        - @media.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :logo
      %td= f.text_field :logo
    %tr
      %td= f.label :media_type
      %td= f.collection_select :media_type_id, MediaType.all, :id, :name, :include_blank => true
    %tr
      %td= f.label :parent_media
      %td= f.collection_select :parent_media_id, Media.all, :id, :name, :include_blank => true
    %tr
      %td= f.label :website
      %td= f.text_field :website
    %tr
      %td= f.label :wikipedia
      %td= f.text_field :wikipedia
    %tr
      %td= f.label :data1
      %td= f.text_field :data1
    %tr
      %td= f.label :data2
      %td= f.text_field :data2
    %tr
      %td= f.label :keywords
      %td= f.text_field :keywords

  .actions
    = f.submit
