%h1 Listing medias

%table.admin
  %tr
    %th
    %th Name
    %th Logo
    %th Type
    %th Parent
    %th Website
    %th Wiki
    %th Data1
    %th Data2
    %th

  - @medias.each do |media|
    %tr
      %td= link_to 'Edit', edit_admin_media_path(media)
      %td= media.name
      %td= media.logo.nil? ? highlight_missing_cell : "<img src='#{get_media_image_128(media.logo)}' />".html_safe
      %td= media.media_type.nil? ? highlight_missing_cell : media.media_type.name
      %td= media.parent_media.nil? ? highlight_missing_cell : media.parent_media.name
      %td= highlight_or_link media.website
      %td= highlight_or_link media.wikipedia
      %td= media.data1 || highlight_missing_cell
      %td= media.data2 || highlight_missing_cell
      %td= link_to 'Delete', admin_media_path(media), :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New Corporation', new_admin_media_path
