<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>Name</td>
		<td><%= @media.name %></td>
	</tr>
	<tr>
		<td>Logo</td>
		<td><%= @media.logo %></td>
	</tr>

	<tr>
		<td>SS</td>
		<td><%= @media.social_score %></td>
	</tr>
	
	<tr>
		<td>PR</td>
		<td><%= @media.participation_rate %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_admin_media_path(@media) %> |
<%= link_to 'Back', admin_medias_path %>
