- content_for :scripts do
  = javascript_include_tag "change_support.js"
  
%h1 myvoYce
.span-12
  Maps/Graphs
.span-12.last
  %fieldset
    %legend Sorting:
    %a{:href => "/myvoyce?sort=description_asc"}Description Asc
    |
    %a{:href => "/myvoyce?sort=description_desc"}Description Desc
    %br
    %a{:href => "/myvoyce?sort=votedate_asc"}Vote Date Asc
    |
    %a{:href => "/myvoyce?sort=votedate_desc"}Vote Date Desc

  %fieldset
    %legend Filtering:
    =link_to "Thumbs Up", :filter => "thumbs_up"
    |
    =link_to "Thumbs Down", :filter => "thumbs_down"
    |
    =link_to "Neutral", :filter => "neutral"
    |
    =link_to "All Records", :filter => "all_records"
    |
    =link_to "No Vote", :filter => "no_vote"
    |
    =link_to "All***", :filter => "*"

  = render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data

  %table
    %thead
      %tr
        %th Vote
        %th Description
        %th Logo
        %th Vote Date
    %tbody
    - @presenter.products.each do |c|
      %tr
        %td= render :partial => 'shared/vote_control', :object => {:id => c.id, :support_type => c.support_type, :post_url => :product_vote}, :as => :d
        %td= c.description
        %td
          %img{:src => get_product_image_128(c.logo), :alt => c.description}
        %td= c.updated_at
