- content_for :scripts do
  =	javascript_include_tag "signup.js"
  = javascript_include_tag "jquery.password_strength.js"
  %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}

.new-account-form
  %h2 Create a new account
  //= form_for @create_user, :html => {:class => 'signup'}, :url => myvoyce_create_path(@create_user) do |f|
  = form_for @create_user, :html => {:class => 'signup'}, :url => register_path(@create_user) do |f|
    .input
      = label_tag :login, "Select a username:"
      = text_field_tag :login, @create_user.login
      .small You will use the username when logging on to the site.
      .messages
        %span#username_messages= @create_user.errors[:login].first
    .clear

    .input
      = label_tag :password, "Create a password:"
      = password_field_tag :password
      .small Pick a strong password with letters and numbers.
    .clear
    
    .input
      = label_tag :password_confirmation, "Retype your password:"
      = password_field_tag :password_confirmation
      .small Password must be at least 6 characters.
      .messages
        %span#password_messages= @create_user.errors[:password].first
    .clear
    
    .input
      = label_tag :zip_code, "Enter your zip code:"
      = text_field_tag :zip_code, @create_user.zip_code
      .small The zip code will be used for...
      .messages
        %span#zip_code_messages= @create_user.errors[:zip_code].first
    .clear


    .input
      = label_tag :birth_year, "Year you were born:"
      = select_tag :birth_year, options_for_select((1910..Time.now.year).to_a.reverse, @create_user.birth_year)
      .small You age will determine...
      .messages
        %span#birth_year_messages= @create_user.errors[:birth_year].first
    .clear

    .input
      = label_tag :email, "Enter your email address:"
      = text_field_tag :email, @create_user.email
      .small You will need a valid email for account creation.
      .messages
        %span#email_message= @create_user.errors[:email].first
    .clear

    .input.create
      = submit_tag "Create Account"
    .clear

.or-middle
  %span or

.login-form
  %h2 Log In
  //= form_for @authenticate_user, :html => {:class => 'login'}, :url => myvoyce_authenticate_path(@authenticate_user) do |f|
  = form_for @authenticate_user, :html => {:class => 'login'}, :url => login_path(@authenticate_user) do |f|

    .input
      = label_tag :login, "Username:"
      = text_field_tag :login, @authenticate_user.login
      .small
    .messages
      #username_messages
    .clear

    .input
      = label_tag :password, "Password:"
      = password_field_tag :password, ""
      .small
    .messages
      #password_messages
    .clear
    
    .messages.flash-message= flash[:login_message]
    .clear
    
    .input
      = submit_tag "Login"
    .messages
      #submit_messages
    .clear

