<h1>Products</h1>

<%= link_to "New Product", new_admin_product_path %>
<br />
<br />
<%= link_to 'Reset', admin_products_url %>
&nbsp;&nbsp;
<%= link_to 'Pending', :filter => 'pending' %>
&nbsp;&nbsp;
<%= link_to 'Default', :filter => 'default_include' %>
<% form_tag "/admin/products/filter/blank" do %>
  Text Search:&nbsp;
  <input type="text" name="text" />
  <input type="submit" name="filter_text" value="Apply" />
  <br />
  UPC Search:&nbsp;
  <input type="text" name="upc" />
  <input type="submit" name="filter_upc" value="Apply" />
<% end %>


<br />
<br />
<%= @product_count %> products
<br />
<%= render :partial => "shared/paging", :object => @presenter.paging, :as => :paging_data %>
<table>
	<tr>
		<th>UPC</th>
		<th>EAN</th>
		<th>Image</th>
		<th>Description</th>
    <th>Pending?</th>
    <th>Default Include?</th>
		<th>Links</th>
		<th></th>
	</tr>

<% @presenter.products.each do |product|  %>
	<tr>
		<td><%= product.upc %></td>
		<td><%= product.ean %></td>
    <td><img src="<%= get_product_image_128 product.logo %>" /></td>
		<td><%= product.description %></td>
    <td><%= product.pending %></td>
    <td><%= product.default_include %></td>
		<td>
			<a href="http://www.thefind.com/search?query=<%= product.upc.blank? ? product.ean : product.upc %>" target="_blank">TheFind</a>
		</td>
		<td>
			<%= link_to "Show", admin_product_path(product) %>
			<%= link_to "Edit", edit_admin_product_path(product) %>
			<%= link_to "Delete", admin_product_path(product), :confirm=>'Are you sure you want to delete?', :method => :delete  %>
		</td>
	</tr>
<% end %>
</table>
