- content_for :scripts do
  =	javascript_include_tag "signup.js"
  = javascript_include_tag "jquery.password_strength.js"
  %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}

#stylized-form.span-24
  %h1 Create a new account
  = form_tag :create_account, :class=>"bp" do
    .input.span-8.colborder
      = label_tag :username, "Select a username:"
      = text_field_tag :username, @user.username
      .small You will use the username when logging on to the site.
    .messages.span-8.last
      %span#username_messages= @user.errors[:username].first
    .clear


    .input.span-8.colborder
      = label_tag :password, "Create a password:"
      = password_field_tag :password
      %br
      = label_tag :password_confirmation, "Retype your password:"
      = password_field_tag :password_confirmation
      .small Password must be at least 6 characters.
    .messages.span-8.last
      %span#password_messages= @user.errors[:password].first
    .clear


    .input.span-8.colborder
      = label_tag :zip_code, "Enter your zip code:"
      = text_field_tag :zip_code, @user.zip_code
      .small The zip code will be used for...
    .messages.span-8.last
      %span#zip_code_messages= @user.errors[:zip_code].first
    .clear


    .input.span-8.colborder
      = label_tag :birth_year, "Year you were born:"
      %br
      = select_tag :birth_year, options_for_select((1910..Time.now.year).to_a.reverse, @user.birth_year)
      .small
    .messages.span-8.last
      %span#birth_year_messages= @user.errors[:birth_year].first
    .clear

    .input.span-8.colborder
      = label_tag :email, "Enter your email address:"
      = text_field_tag :email, @user.email
      .small You will need a valid email for account creation.
    .messages.span-8.last
      %span#email_message= @user.errors[:email].first
    .clear

    .input.span-24.last
      = submit_tag "Create Account"
    .clear
