%h2 Stats
%h3= @notice
=link_to "Zip Counts", :action => :zip_user_counts
%br
=link_to "State Counts", :action => :state_user_counts
%br
=link_to "National Age Counts", :action => :national_age_counts
%br
=link_to "State Age Counts", :action => :state_age_counts
%br
%br

%fieldset 
  %legend Text Lookup Indexes
  = link_to 'Corporate Indexes', :action => :generate_corporate_indexes
  %br
  = link_to 'Government Indexes', :action => :generate_government_indexes
  %br
  = link_to 'Media Indexes', :action => :generate_media_indexes
%br
%br


%fieldset
  %legend SSPR
  = link_to 'Corporate', :action => :corporate_sspr
  %br
  = link_to 'Media', :action => :media_sspr
  %br
  = link_to 'Government', :action => :government_sspr

%br

%fieldset
  %legend Generate Votes
  = link_to "5000 Government Votes", :action => :generate_government_votes
  %br
  = link_to "5000 Media Votes", :action => :generate_media_votes
  %br
  Corp Id (optional):
  %input{:type => :text, :id => "votes_corp_id"}
  = link_to "5000 Corporate Votes", {:action => :generate_corporate_votes}, :id => 'corp_generate_votes_link'

:javascript
  $(document).ready(function(){
    $("#votes_corp_id").keyup(function(){
      $('#corp_generate_votes_link').attr("href", "/stats/generate_corporate_votes?corp_id=" + $(this).val());
    });
  });

