!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield :title
    = stylesheet_link_tag "compiled/screen.css", :media => "screen, projection"
    = stylesheet_link_tag "compiled/print.css", :media => "print"
    = stylesheet_link_tag "compiled/ie.css", :media => "screen, projection"
    = stylesheet_link_tag "compiled/site.css", :media => "screen, projection"

    = javascript_include_tag "jquery-1.4.3.min.js"
    = javascript_include_tag "rails.js"
    = yield :scripts
    = csrf_meta_tag

    %body.bp
      .container
        #header.span-24.last
          .span-24.last
            %img{:src => "/images/site/ourvoYce_header.png", :alt => "header"}
          #top-menu.span-24.last
            %ul
              - if session[:user_id].nil?
                %li= link_to "Login",  :account
              - else
                %li= link_to "Logout",  :logout
              %li= link_to "Account",  :account
              %li= link_to "MyVoyce",  :myvoyce
              %li= link_to "Corporate",  :corporates_index
              %li= link_to "Products",  :products
              %li= link_to "Government",  :government_index
              %li= link_to "Media",  :media_index
              %li= '|'
              %li= link_to "Users",  :admin_users
              %li= link_to "Products",  :admin_products
              %li= link_to "Corporations",  :admin_corporations
              %li= link_to "States",  :admin_states
        .clear

        = yield
        .clear

        .span-24.last
          .prepend-top
            #footer
              =link_to 'Help', :help
              =link_to 'Privacy', :privacy
              =link_to 'Terms', :terms
              %br
              OurVoyce &copy;2010
        .clear
