!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield :title
    = stylesheet_link_tag "compiled/screen.css", :media => "screen, projection"
    = stylesheet_link_tag "compiled/print.css", :media => "print"
    = stylesheet_link_tag "compiled/ie.css", :media => "screen, projection"
    = stylesheet_link_tag "compiled/site.css", :media => "screen, projection"

    = javascript_include_tag "jquery-1.4.3.min.js"
    = javascript_include_tag "rails.js"
    = yield :scripts
    = csrf_meta_tag

    %body.bp
      .container
        #header.span-24.last
          .span-24.last
            %img{:src => "/images/site/ourvoYce_header.png", :alt => "header"}
          #top-menu.span-24.last
            %ul
              - if session[:user_id].nil?
                %li= link_to "Login",  login_path
              - else
                %li= link_to "Logout",  logout_path
              %li= link_to "Sign Up",  signup_path
              %li= link_to "MyVoyce",  myvoyce_path
              %li= link_to "Corporate",  corporates_index_path
              %li= link_to "Products",  products_path
              %li= link_to "Government",  government_index_path
              %li= link_to "Media",  media_index_path
              %li= '|'
              %li= link_to "Users",  admin_users_path
              %li= link_to "Products",  admin_products_path
              %li= link_to "Corporations",  admin_corporations_path
              %li= link_to "States",  admin_states_path
        .clear

        = yield
        .clear

        .span-24.last
          .prepend-top
            #footer
              OurVoyce &copy;2010
        .clear
